html {
    color: #000;
    font-family: sans-serif;
    font-size: 100%;
    text-rendering: optimizelegibility;
}

body {
    background-color: #f3f3f3;
    color: #262626;
    cursor: default;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #262626;
    margin: 0;
    padding: 0;
    position: relative;    
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    direction: ltr;
    margin: 0;
    padding: 0;
}

ul, ol, dl {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25em;
}

*, *:before, *:after {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.main-header {
    background: none repeat scroll 0 0 #3a3a3a;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

a {
    color: #1c94c6;
    line-height: inherit;
    text-decoration: none;
}

button, select {
    text-transform: none;
}

button, .button {
    background-color: #1c94c6;
    border-color: #1779a2;
    border-style: solid;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 1.25em;
    padding: 1em 2em 1.0625em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
}

button, input {
    text-rendering: optimizelegibility;
}

button.secondary, button.article_series-meta, .button.secondary, .button.article_series-meta {
    background-color: #e9e9e9;
    border-color: #d5d5d5;
    color: #555;
}

//row
.row {
    margin: 0 auto;
    max-width: 80em;
    width: 100%;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row.collapse .column, .row.collapse .columns {
    float: left;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.row .row {
    margin: 0 -0.625em;
    max-width: none;
    width: auto;
}
.row .row:before, .row .row:after {
    content: " ";
    display: table;
}
.row .row:after {
    clear: both;
}
.row .row.collapse {
    margin: 0;
    max-width: none;
    width: auto;
}
.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table;
}
.row .row.collapse:after {
    clear: both;
}


//page
.full-width {
    float: left;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 100%;
}
.page {
    margin: 0 auto;
    max-width: 80em;
    width: 100%;
}
.page:before, .page:after {
    content: " ";
    display: table;
}
.page:after {
    clear: both;
}
@media only screen and (min-width: 768px) {
.page {
    padding-bottom: 1.875em;
    padding-top: 1.875em;
}
}
.page_content, .page_aside {
    float: left;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}
@media only screen and (min-width: 768px) {
.page_content, .page_aside {
    float: left;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 100%;
}
}
.page_content--collapsing-gutters {
    padding: 1.875em 1em 0;
}
@media only screen and (min-width: 768px) {
.page_content--collapsing-gutters {
    float: left;
    margin-left: 6.25%;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 87.5%;
}
}
@media only screen and (min-width: 1025px) {
.page_content--collapsing-gutters {
    float: left;
    margin-left: 12.5%;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 75%;
}
}
@media only screen and (min-width: 1295px) {
.page_content--collapsing-gutters {
    float: left;
    margin-left: 18.75%;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 68.75%;
}
}
.page-section-divider {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #e9e9e9;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
}
.page_hero {
    background-image: url("/wp-content/themes/sitepoint/assets/images/sitepoint_about.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
.page_hero {
    background-size: 120% auto;
    height: 200px;
}
}
@media only screen and (min-width: 1025px) {
.page_hero {
    background-size: 100% auto;
}
}
.page_hero.page_hero--books {
    background-image: url("/wp-content/themes/sitepoint/assets/images/page_hero_books.jpg");
}
@media only screen and (min-width: 768px) {
.page--primary .page_content {
    width: 100%;
}
}
@media only screen and (min-width: 1025px) {
.page--primary .page_content {
    margin-right: -340px;
    padding-right: 340px;
}
}
.page--primary .page_aside {
    display: none;
}
@media only screen and (min-width: 1025px) {
.page--primary .page_aside {
    display: block;
    margin-left: 30px;
    padding: 0;
    width: 300px;
}
}
.page--secondary {
    padding-top: 1.875em;
}
@media only screen and (min-width: 768px) {
.page--secondary {
    padding-top: 3.125em;
}
}
.page--secondary .page_content {
    padding-left: 1em;
    padding-right: 1em;
}
@media only screen and (min-width: 768px) {
.page--secondary .page_content {
    float: right;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 62.5%;
}
}
@media only screen and (min-width: 1025px) {
.page--secondary .page_content {
    float: right;
    left: auto;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    right: 6.25%;
    width: 62.5%;
}
}
@media only screen and (min-width: 1295px) {
.page--secondary .page_content {
    float: right;
    left: auto;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    right: 12.5%;
    width: 50%;
}
}
.page--secondary .page_callout {
    margin: 1.875em auto;
    width: 100%;
}
@media only screen and (min-width: 768px) {
.page--secondary .page_callout {
    left: -54%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 50%;
}
}
@media only screen and (min-width: 1025px) {
.page--secondary .page_callout {
    left: -45%;
    width: 43%;
}
}
@media only screen and (min-width: 1295px) {
.page--secondary .page_callout {
    left: -45%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 40%;
}
}


//footer


@media only screen and (min-width: 768px) {
.site-footer {
    padding-bottom: 3.125em;
}
}
.site-footer {
    background: none repeat scroll 0 0 #3a3a3a;
    color: #949494;
    padding-bottom: 2.5em;
}
.site-footer .row {
    position: relative;
}
.site-footer a {
    color: #949494;
}
.site-footer a:hover {
    color: #b5b5b5;
}

.site-footer_copyright {
    float: left;
    font-size: 0.875em;
    line-height: 1.6;
    margin: 1.875em 0 0;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 100%;
}
@media only screen and (min-width: 768px) {
.site-footer_copyright {
    float: right;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    text-align: right;
    width: 31.25%;
}
}

.footer-links {
    float: left;
    list-style: none outside none;
    margin: 1.875em 0 0;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 100%;
}
@media only screen and (min-width: 768px) {
.footer-links {
    float: left;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 15.625%;
}
.footer-links:last-of-type {
    width: 30%;
}
}
@media only screen and (min-width: 1025px) {
.footer-links {
    float: left;
    padding-left: 0.625em;
    padding-right: 0.625em;
    position: relative;
    width: 12.5%;
}
}
.foot-link_item {
    font-size: 0.875em;
    line-height: 1.6;
}
.foot-link_item:first-child, .foot-link_item h3 {
    color: #949494;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.625em;
}
.foot-link_item--icons {
    font-size: 1.3125em;
    padding-top: 10px;
}