.product_header {
    background: none repeat scroll 0 0 #f3f3f3;
    overflow: hidden;
}
@media only screen and (min-width: 768px) {
    .product_nav {
        position: relative;
    }
}
.product_list {
    margin: 0;
}
@media only screen and (min-width: 768px) {
    .product_list {
        overflow: hidden;
    }
}
.product {
    float: left;
    list-style: none outside none;
    width: 25%;
}

@media only screen and (min-width: 768px) {
    .product {
        float: left;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 12.5%;
    }
}
.product-link {
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    display: block;
    font-size: 5vmin;
    font-weight: 700;
    line-height: 2;
    padding-top: 55%;
    text-indent: 0.5em;
    transition: background 0s ease 0s, all 200ms ease 0s;
}
.product-link:hover, .product-link:focus, .product-link.active {
    color: #fff;
}
@media only screen and (min-width: 768px) {
    .product-link {
        box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.1) inset;
        color: #fff;
        font-size: 1.375em;
        height: 200px;
        padding-top: 6.2em;
        position: relative;
        text-align: center;
        text-indent: 0;
        width: 100%;
        z-index: 10;
    }
}
@media only screen and (min-width: 1025px) {
    .product-link {
        font-size: 1.5em;
        padding-top: 5.6em;
    }
}
@media only screen and (min-width: 1295px) {
    .product-link {
        box-shadow: -7px 7px 0 rgba(0, 0, 0, 0.1) inset;
        font-size: 1.625em;
        padding-top: 5.1em;
    }
}
.product.html .product-link {
    background: none repeat scroll 0 0 #fca13f;
}
.product.html .product-link:hover, .product.html .product-link:focus, .product.html .product-link:active {
    background: none repeat scroll 0 0 #fc9526;
}
.product.css .product-link {
    background: none repeat scroll 0 0 #248aaf;
}
.product.css .product-link:hover, .product.css .product-link:focus, .product.css .product-link:active {
    background: none repeat scroll 0 0 #20799a;
}
.product.javascript .product-link {
    background: none repeat scroll 0 0 #fac552;
}
.product.javascript .product-link:hover, .product.javascript .product-link:focus, .product.javascript .product-link:active {
    background: none repeat scroll 0 0 #f9bd39;
}
.product.php .product-link {
    background: none repeat scroll 0 0 #669;
}
.product.php .product-link:hover, .product.php .product-link:focus, .product.php .product-link:active {
    background: none repeat scroll 0 0 #5c5c8a;
}
.product.ux .product-link {
    background: none repeat scroll 0 0 #3cbc8d;
}
.product.ux .product-link:hover, .product.ux .product-link:focus, .product.ux .product-link:active {
    background: none repeat scroll 0 0 #36a97f;
}
.product.design .product-link {
    background: none repeat scroll 0 0 #3dbfd9;
}
.product.design .product-link:hover, .product.design .product-link:focus, .product.design .product-link:active {
    background: none repeat scroll 0 0 #29b7d3;
}
.product.mobile .product-link {
    background: none repeat scroll 0 0 #083a5b;
}
.product.mobile .product-link:hover, .product.mobile .product-link:focus, .product.mobile .product-link:active {
    background: none repeat scroll 0 0 #062b44;
}
.product.threede .product-link {
    background: none repeat scroll 0 0 #eb5745;
}
.product.threede .product-link:hover, .product.threede .product-link:focus, .product.threede .product-link:active {
    background: none repeat scroll 0 0 #e9422e;
}
